<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<h1>760-303-4118</h1>
<h2>Text: 'green', 'blue', or any color to change the lights.</h2>
<h2>Text: 'chaos' to unleash chaos.</h2>
<audio style="display:none;" src="/spooky.mp3" preload="auto" loop="loop" autoplay="autoplay"></audio>
<audio id="creepy" style="display:none;" src="/creepy.mp3" preload="auto"></audio>
<audio id="roar" style="display:none;" src="/roar.mp3" preload="auto"></audio>
<script type="text/javascript" src="/js/trick.js" ></script>